<!DOCTYPE html>
<html>

<head>
  <title>MyPinterest</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

  <style>
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>

</head>

<body>
  <div id="main">

    <div id="page1">
      <div class="navbar">
        <div class="logo"><i class="ri-windy-fill"></i> MyPinterest</div>
        <div class="section">
          <a href="" class="men">HOME</a>
          <a href="" class="men">BUSINESS</a>
          <a href="./explore" class="men">EXPLORE</a>
          <a href="" class="men">ABOUT US </a>
          <a href="./login" class="men">LOGIN</a>
          <a href="./create" class="men">CREATE ACC.</a>
        </div>
        <div class="search">
          <div class="searchinside">
            <i class="ri-search-line"></i>
          </div>
          <div class="searchinside">
            <i class="ri-shopping-bag-line"></i>
          </div>
        </div>
      </div>
      <div id="page1-lower">
        <h2>MY PINTEREST</h2>
        <div id="p1img">
          <!-- swiper js slider code -->
          <!-- Swiper -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img
                  src="https://images.unsplash.com/photo-1439066290691-510066268af5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80"
                  alt=""></div>
              <div class="swiper-slide"><img
                  src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                  alt=""></div>
              <div class="swiper-slide"><img
                  src="https://images.unsplash.com/photo-1623176035122-4e07bc19bab7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80"
                  alt=""></div>
              <div class="swiper-slide"><img
                  src="https://images.unsplash.com/photo-1604430456280-43f652c497aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                  alt=""></div>
              <div class="swiper-slide"><img
                  src="https://images.unsplash.com/photo-1493962621260-74cc5a3baf89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                  alt=""></div>
              <div class="swiper-slide"><img
                  src="https://images.unsplash.com/photo-1613956644521-81a9cbe99a7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                  alt=""></div>
              <div class="swiper-slide"><img
                  src="https://plus.unsplash.com/premium_photo-1673514503543-c1758b5e8181?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                  alt=""></div>
              <div class="swiper-slide"><img
                  src="https://images.unsplash.com/photo-1581337204873-ef36aa186caa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1156&q=80"
                  alt=""></div>
              <div class="swiper-slide"><img
                  src="https://images.unsplash.com/photo-1542214953-8fdab8632a8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                  alt=""></div>
            </div>
            <!-- <div class="swiper-button-next"></div> -->
            <!-- <div class="swiper-button-prev"></div> -->
            <!-- <div class="swiper-pagination"></div> -->
          </div>
        </div>
      </div>
    </div>

    <div id="page2">
      <div class="page2-left">
        <div>
          <a style="text-decoration: none;" href=""> <button>EXPLORE</button> </a>
          <img
            src="https://images.unsplash.com/photo-1677798462220-e7b9a383c476?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8TThqVmJMYlRSd3N8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
            alt="">
        </div>
      </div>

      <div class="page2-right">
        <h3>DOGS <br> SNAPS</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas perspiciatis optio quia dolorem aut fugiat
          ipsum tempore voluptate dolorum doloremque?</p>
        <div>
          <img src="https://www.happygodoodle.com/wp-content/uploads/2021/06/goldendoodle.jpg.webp">
        </div>
      </div>
    </div>

    <div id="page3">
      <h2>ARCHITECT PHOTOGRAPHY</h2>
      <div id="mathcopy">
        <div class="page3-img">
          <img src="https://www.planetware.com/wpimages/2019/11/india-best-places-to-visit-agra.jpg">
          <button>TAJ MAHAL</button>
        </div>
        <div class="page3-img">
          <img src="https://cdn.theculturetrip.com/wp-content/uploads/2016/06/24498998325_f451c67aae_o.jpg">
          <button>QUTAB MINAR</button>
        </div>
        <div class="page3-img">
          <img src="https://static.toiimg.com/img/80873764/Master.jpg">
          <button>Eiffel Tower</button>
        </div>
      </div>
    </div>

    <div id="page4">
      <h3>PINS</h3>
      <div class="cards">
        <p>SPECIAL GIFT</p>
        <img
          src="https://images.unsplash.com/photo-1658040884309-11942866e2d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
        <div class="updates-text">
          Hungry morning pack
          <p>Limited edition</p>
        </div>
        <i class="ri-arrow-right-up-line"></i>
      </div>
      <div class="cards">
        <p>SPECIAL GIFT</p>
        <img
          src="https://images.unsplash.com/photo-1659428298245-68fc974b1dfc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80">
        <div class="updates-text">
          Hungry morning pack
          <p>Limited edition</p>
        </div>
        <i class="ri-arrow-right-up-line"></i>
      </div>
      <div class="cards">
        <p>SPECIAL GIFT</p>
        <img
          src="https://images.unsplash.com/photo-1658344930616-19751248415c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE1fEJKSk10dGVESkE0fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
        <div class="updates-text">
          Hungry morning pack
          <p>Limited edition</p>
        </div>
        <i class="ri-arrow-right-up-line"></i>
      </div>
      <div class="cards">
        <p>SPECIAL GIFT</p>
        <img
          src="https://images.unsplash.com/photo-1657736532337-18d22b4ab362?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE4fEJKSk10dGVESkE0fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=900&q=60">
        <div class="updates-text">
          Hungry morning pack
          <p>Limited edition</p>
        </div>
        <i class="ri-arrow-right-up-line"></i>
      </div>
    </div>

    <div id="page5">
      <div class="page5-left">
        <div class="page5-leftupper">
          <h3>WINTER <br> COLLECTION</h3>
          <p>Lorem ipsm dolor sit amet <br> consectetur adipisicing elit. <br> Quis ei nulla suscipit.</p>
        </div>
        <div class="page5-leftlower">
          <div>
            <img
              src="https://images.unsplash.com/photo-1659987156572-b6540170a7f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
          </div>
          <button>EXPLORE</button>
        </div>
      </div>
      <div class="page5-right">
        <div>
          <img
            src="https://images.unsplash.com/photo-1660050186491-cbd9d8e02d2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
        </div>
      </div>
    </div>

    <div id="page6">
      <div class="text-scroll">
        <div>Made By ARJUN SARKAR<i class="ri-global-line"></i></div>
        <div>Made By ARJUN SARKAR<i class="ri-global-line"></i></div>
        <div>Made By ARJUN SARKAR<i class="ri-global-line"></i></div>
        <div>Made By ARJUN SARKAR<i class="ri-global-line"></i></div>
        <div>Made By ARJUN SARKAR<i class="ri-global-line"></i></div>
        <div>Made By ARJUN SARKAR<i class="ri-global-line"></i></div>
        <div>Made By ARJUN SARKAR<i class="ri-global-line"></i></div>
        <div>Made By ARJUN SARKAR<i class="ri-global-line"></i></div>
        <div>Made By ARJUN SARKAR<i class="ri-global-line"></i></div>
        <div>Made By ARJUN SARKAR<i class="ri-global-line"></i></div>
        <div>Made By ARJUN SARKAR<i class="ri-global-line"></i></div>
      </div>


    </div>


  </div>






  <!-- Swiper JS CDN   -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <script>
    // Swiper JS 
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

  </script>


</body>

</html>